{% extends "layout/application.html" %}

{% block maincontent %}
<div class="Search mb3">
  <h1 class="mb3 align-center">Wikipedia Viewer</h1>
  <h2 class="mb3 align-center">What would you like to read?</h2>
  <form action="" class="mb3">
    <div class="Form-group mb3">
      <input type="text" class="Input-Search">
      <i class="icon-lens"></i>
      <button class="btn btn-action btn-action--search">Search</button>
    </div>
     <div class="align-center">
      <button class="btn">Random article</button>
    </div>
  </form>
</div>
<div class="Result">
  <ul class="Result-items">
    <li class="Result-item">
      <h3>Hola</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut impedit obcaecati cumque facere doloremque voluptatibus, a excepturi, rerum, inventore iusto fugiat voluptates quidem. Illum, eos, quis. Unde minima similique, sequi!</p>
      <button class="btn btn-action">Read more</button>
    </li>
    <li class="Result-item">
      <h3>Hola</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut impedit obcaecati cumque facere doloremque voluptatibus, a excepturi, rerum, inventore iusto fugiat voluptates quidem. Illum, eos, quis. Unde minima similique, sequi!</p>
      <button class="btn btn-action">Read more</button>
    </li>
    <li class="Result-item">
      <h3>Hola</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut impedit obcaecati cumque facere doloremque voluptatibus, a excepturi, rerum, inventore iusto fugiat voluptates quidem. Illum, eos, quis. Unde minima similique, sequi!</p>
      <button class="btn btn-action">Read more</button>
    </li>
    <li class="Result-item">
      <h3>Hola</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut impedit obcaecati cumque facere doloremque voluptatibus, a excepturi, rerum, inventore iusto fugiat voluptates quidem. Illum, eos, quis. Unde minima similique, sequi!</p>
      <button class="btn btn-action">Read more</button>
    </li>
    <li class="Result-item">
      <h3>Hola</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut impedit obcaecati cumque facere doloremque voluptatibus, a excepturi, rerum, inventore iusto fugiat voluptates quidem. Illum, eos, quis. Unde minima similique, sequi!</p>
      <button class="btn btn-action">Read more</button>
    </li>
    <li class="Result-item">
      <h3>Hola</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut impedit obcaecati cumque facere doloremque voluptatibus, a excepturi, rerum, inventore iusto fugiat voluptates quidem. Illum, eos, quis. Unde minima similique, sequi!</p>
      <button class="btn btn-action">Read more</button>
    </li>
    <li class="Result-item">
      <h3>Hola</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut impedit obcaecati cumque facere doloremque voluptatibus, a excepturi, rerum, inventore iusto fugiat voluptates quidem. Illum, eos, quis. Unde minima similique, sequi!</p>
      <button class="btn btn-action">Read more</button>
    </li>
    <li class="Result-item">
      <h3>Hola</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut impedit obcaecati cumque facere doloremque voluptatibus, a excepturi, rerum, inventore iusto fugiat voluptates quidem. Illum, eos, quis. Unde minima similique, sequi!</p>
      <button class="btn btn-action">Read more</button>
    </li>

  </ul>
  <div class="align-center">
    <button class="btn btn-action">Read more</button>
  </div>
</div>

{% endblock %}
