.Body {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-image: url(../../images/powerfull.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: darken(#C3E1E9, 20);
}
