.Body {
  background-image: url(https://www.dropbox.com/s/w1jjj5agy6151bm/powerfull.jpg?raw=1);
  background-repeat: no-repeat;
  background-size: cover;
  color: darken(#C3E1E9, 20);
  display: flex;
  flex-direction: column;
}
