.Btn {
  webkit-appearance: none;
  background-color: transparent;
  border-radius: 6px;
  border: 0;
  display: inline-block;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 0;
}

.Btn-action {
  background-color: #DC4E00;
  color: white;
  font-size: 16px;
  padding: 15px;
}

.Btn-action--search {
  border-radius: 0 6px 6px 0;
  position: absolute;
  right: 0;
  padding: 25px 10px;
}

.Btn--random {
  position: relative;
}
