.Topic-items {
  color: #929487;
  max-width: 100%;

  @media screen and (min-width: 810px) {
    width: 800px;
  }
}

.Topic-item {
  background-color: white;
  border-radius: 10px;
  margin-bottom: 5rem;
  max-width: 100%;
  padding: 30px;

  h3 {
    border-bottom: 1px solid #ddd;
    font-size: 20px;
    margin-bottom: 30px;
    padding-bottom: 30px;
  }

  p {
    font-size: 16px;
    margin-bottom: 30px;
  }
}

